    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">{{title}} <b> {{poliza.id}}</b></h3>
    </div>
    <div class="modal-body">
        <form name="poliza_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Número de Póliza" mod="poliza" ng-class="{ 'has-error' : poliza_form.id.$invalid }">
                <input type="text" class="form-control" name="id" placeholder="Número de Póliza" ng-model="poliza.id" ng-disabled="agregar" ng-minlength="2" ng-maxlength="25" focus required/>
                <div ng-show="poliza_form.id.$dirty && poliza_form.id.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small> El número de póliza puede contener hasta 25 carácteres.</small>
                </div>
            </form-element>
            <form-element label="Documento" mod="poliza" ng-class="{ 'has-error' : poliza_form.idPersona.$invalid }">
                <input type="number" class="form-control" name="idPersona" placeholder="Documento" ng-model="poliza.idPersona" ng-disabled="agregar" min="1" max="9223372036854775806" focus required/>
                <div ng-show="poliza_form.idPersona.$dirty && poliza_form.idPersona.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small> El documento sólo puede contener dígitos positivos.</small>
                </div>
            </form-element>
            <form-element label="Vigencia" mod="poliza" ng-class="{ 'has-error' : poliza_form.vigencia.$invalid }">
                <input type="date" class="form-control" name="vigencia" placeholder="Fecha de Vigencia" ng-disabled="agregar" ng-model="poliza.vigencia" min="1980-12-12" focus required/>
            </form-element>
            <form-element label="Vencimiento" mod="poliza" ng-class="{ 'has-error' : poliza_form.vencimiento.$invalid }">
                <input type="date" class="form-control" name="vencimiento" placeholder="Fecha de Vencimiento" ng-disabled="agregar" ng-model="poliza.vencimiento" min="1980-12-12" focus required/>
            </form-element>
            <form-element label="Ramo" mod="poliza" ng-class="{ 'has-error' : poliza_form.ramo.$invalid }">
                <input type="text" class="form-control" name="ramo" placeholder="Ramo" ng-model="poliza.ramo" ng-minlength="2" ng-maxlength="30" focus required/>
                <div ng-show="poliza_form.ramo.$dirty && poliza_form.ramo.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small>El Ramo no debe contener más de 30 carácteres.</small>
                </div>
            </form-element>
            <form-element label="Valor" mod="poliza" ng-class="{ 'has-error' : poliza_form.valor.$invalid }">
                <input type="number" class="form-control" name="valor" placeholder="Valor" ng-model="poliza.valor" ng-minlength="5" ng-maxlength="12" focus required/>
                <div ng-show="poliza_form.valor.$dirty && poliza_form.valor.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small>Debe tener entre 5 y 12 digítos.</small>
                </div>
            </form-element>
            <form-element label="Valor de la Póliza" mod="poliza" ng-class="{ 'has-error' : poliza_form.valorPoliza.$invalid }">
                <input type="number" class="form-control" name="valorPoliza" placeholder="Valor de la Póliza" ng-model="poliza.valorPoliza" min="10000" max="999999999999" focus required/>
                <div ng-show="poliza_form.valorPoliza.$dirty && poliza_form.valorPoliza.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small>Debe tener entre 5 y 12 digítos.</small>
                </div>
            </form-element>
            <form-element label="Compañía" mod="poliza" ng-class="{ 'has-error' : poliza_form.compania.$invalid }">
                <input type="text" class="form-control" name="compania" placeholder="Compañía" ng-model="poliza.compania" ng-minlength="2" ng-maxlength="30" focus required/>
                <div ng-show="poliza_form.compania.$dirty && poliza_form.compania.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small>Los apellidos no deben contener más de 30 carácteres.</small>
                </div>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="savepoliza(poliza);"
                                ng-disabled="poliza_form.$invalid"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>
