
<title>Consulta de Polizas - Bases de datos PJA</title>
<h4 class="blog-post-title">Consulta de Polizas</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="open(poliza);">&nbsp;Agregar una nueva Poliza</button>

<div class="table-responsive">
<div class="panel panel-primary">
  <div class="panel-heading">Lista de Polizas
      <div class="sw-search" >
            <div class="nav-search" id="nav-search">
                    Escriba una palabra para <b>filtrar</b>: <span class="input-icon">
                        <input placeholder="Filtrar polizas de la lista ..." class="nav-search-input" ng-model="filterpoliza" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
            </div>
        </div>
    </div>
  <div class="panel-body">
    <table class="table table-striped">
    <tr ng-show="polizas.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No datos encontrados, problema con la base de datos</td></tr>
    <tr ng-hide="polizas.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Cargando volumen de datos</td></tr>

    <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

    <tr ng-repeat="c in polizas | filter:filterpoliza | orderBy:'id'" id="{{c.id}}" animate-on-change='c.ramo + c.valor + c.valorPoliza + c.compania' ng-animate=" 'animate'">
        <td>{{c.id}}</td><td>{{c.idPersona}}</td><td>{{c.nombres + ' ' + c.apellidos}}</td><td>{{c.vigencia}}</td>
        <td>
            <button class="btn" ng-class="{Active:'btn-success', Inactive:''}[vencido(c.vencimiento)]">{{c.vencimiento}}</button>
        </td>
        <td>{{c.ramo}}</td><td>{{c.valor}}</td><td>{{c.valorPoliza}}</td><td>{{c.compania}}</td>
        <td style="width:150px">
            <div class="btn-group">
              <button alt="Renovar" type="button" class="btn btn-default fa fa-repeat" ng-click="renew(c);"></button>
              <button alt="Renovar" type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
              <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deletepoliza(c);"></button>
            </div>
        </td>
    </tr>
    </table>
</div>
</div>
</div>
