    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">Renovar Póliza #<b> {{poliza.id}}</b></h3>
    </div>
    <div class="modal-body">
        <form name="poliza_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Nueva Fecha de Vencimiento" mod="poliza" ng-class="{ 'has-error' : poliza_form.vencimiento.$invalid }">
                <input type="date" class="form-control" name="vencimiento" placeholder="Fecha de Vencimiento" ng-model="poliza.vencimiento" min="2015-12-12" focus required/>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="savepoliza(poliza);"
                                ng-disabled="poliza_form.$invalid"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>Renovar Póliza
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>
