    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">{{title}} <b> {{contrato.num}}</b></h3>
    </div>
    <div class="modal-body">
        <form name="contrato_form" class="form-horizontal" role="form" novalidate>
            <form-element label="Número de Contrato" mod="contrato" ng-class="{ 'has-error' : contrato_form.num.$invalid }">
                <input type="text" class="form-control" name="num" placeholder="Número de Contrato" ng-model="contrato.num" ng-disabled="agregar" ng-minlength="2" ng-maxlength="20" focus required/>
                <div ng-show="contrato_form.num.$dirty && contrato_form.num.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small> El número de contrato puede contener hasta 20 carácteres.</small>
                </div>
            </form-element>
            <form-element ng-show="!agregar" label="Tipo de contrato" mod="contrato" ng-init="contrato.tipo='Colectivo'">
               <input type="radio" ng-model="contrato.tipo" name="tipo" value="Asociativo"> Asociativo</label><br>
               <input type="radio" ng-model="contrato.tipo" name="tipo" value="Familiar"> Familiar</label><br>
               <input type="radio" ng-model="contrato.tipo" name="tipo" checked="checked" value="Colectivo"> Colectivo</label>
            </form-element>
            <form-element label="Documento Contratante" mod="contrato" ng-class="{ 'has-error' : contrato_form.idContratante.$invalid }">
                <input type="number" class="form-control" name="idContratante" placeholder="Documento" ng-model="contrato.idContratante" ng-disabled="agregar" min="1" max="9223372036854775806" focus required/>
                <div ng-show="contrato_form.idContratante.$dirty && contrato_form.idContratante.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small> El documento sólo puede contener dígitos positivos.</small>
                </div>
            </form-element>
            <form-element label="Documento Beneficiario" mod="contrato" ng-class="{ 'has-error' : contrato_form.idBeneficiario.$invalid }">
                <input type="number" class="form-control" name="idBeneficiario" placeholder="Documento" ng-model="contrato.idBeneficiario" ng-disabled="agregar" min="1" max="9223372036854775806" focus required/>
                <div ng-show="contrato_form.idBeneficiario.$dirty && contrato_form.idBeneficiario.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small> El documento sólo puede contener dígitos positivos.</small>
                </div>
            </form-element>
            <form-element label="Vigencia" mod="contrato" ng-class="{ 'has-error' : contrato_form.inicioVig.$invalid }">
                <input type="date" class="form-control" name="inicioVig" placeholder="Fecha de Inicio" ng-disabled="agregar" ng-model="contrato.inicioVig" min="1980-12-12" focus required/>
            </form-element>
            <form-element label="Vencimiento" mod="contrato" ng-class="{ 'has-error' : contrato_form.finVig.$invalid }">
                <input type="date" class="form-control" name="finVig" placeholder="Fecha de Vencimiento" ng-disabled="agregar" ng-model="contrato.finVig" min="1980-12-12" focus required/>
            </form-element>
            <form-element ng-show="!agregar" label="Modalidad" mod="contrato" ng-init="contrato.modalidad='Anual'">
               <input type="radio" ng-model="contrato.modalidad" name="modalidad" value="Mensual"> Mensual</label><br>
               <input type="radio" ng-model="contrato.modalidad" name="modalidad" value="Bimestral"> Bimestral</label><br>
               <input type="radio" ng-model="contrato.modalidad" name="modalidad" value="Trimestral"> Trimestral</label><br>
               <input type="radio" ng-model="contrato.modalidad" name="modalidad" value="Semestral"> Semestral</label><br>
               <input type="radio" ng-model="contrato.modalidad" name="modalidad" checked="checked" value="Anual"> Anual</label>
            </form-element>
            <form-element label="Dirección Laboral" mod="contrato" ng-class="{ 'has-error' : contrato_form.dirLaboral.$invalid }">
                <input type="text" class="form-control" name="dirLaboral" placeholder="Dirección Laboral" ng-model="contrato.dirLaboral" ng-minlength="2" ng-maxlength="30" focus required/>
                <div ng-show="contrato_form.dirLaboral.$dirty && contrato_form.dirLaboral.$invalid" class="alert alert-danger" role="alert"><i class="fa fa-exclamation-circle"></i>
                  <small>La dirección no debe contener más de 50 carácteres.</small>
                </div>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="savecontrato(contrato);"
                                ng-disabled="contrato_form.$invalid"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </f
